RewriteEngine On
RewriteRule ^(\w+)$ $1.php [NC]

RewriteRule ^contact/$ pages/contact/index.php
RewriteRule ^info/$ pages/info/index.php
RewriteRule ^reciept/$ pages/reciept/index.php
RewriteRule ^search/$ pages/search/index.php
RewriteRule ^supplier/$ pages/supplier/index.php
RewriteRule ^user/$ pages/userindex/index.php
RewriteRule ^warehouse/$ pages/warehouse/index.php
RewriteRule ^filter/in_shop/$ pages/items_in_shop/index.php
RewriteRule ^filter/whouse/$ pages/items_whouse/index.php
RewriteRule ^filter/missing/$ pages/items_missing/index.php
RewriteRule ^filter/avaible/$ pages/items_avaible/index.php
RewriteRule ^contact/thanks/$ pages/contact/?message=thanks 
RewriteRule ^warehouse/registration/$ pages/warehouse/?action=registration 

RewriteRule ^reciept/index.php$ /reciept/ [R=301]
RewriteRule ^contact/index.php$ /contact/ [R=301]
RewriteRule ^info/index.php$ /info/ [R=301]
RewriteRule ^items.php$ /items/ [R=301]
RewriteRule ^contact/thanks/$ /contact/?message=thanks 

RewriteRule ^items/$ pages/items/items.php
RewriteRule ^items/([0-9]+)/$ /pages/items/item.php?id=$1
RewriteCond %{QUERY_STRING} ^id=([0-9]+)$
RewriteRule ^items.php$ /items/%1/? [R=301]
RewriteRule ^(items/[0-9]+)$ /$1/ [R=301]

